# Frontend
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.env

# Backend
RecruitmentPortalBackend/bin/
RecruitmentPortalBackend/obj/
RecruitmentPortalBackend/*.user
RecruitmentPortalBackend/*.log
RecruitmentPortalBackend/appsettings.Development.json

# General
.env
.vscode/
.idea/
*.log

# Visual Studio
.vs/

# Build folders
bin/
obj/

# User-specific files
*.user
*.suo
*.cache

# Logs
*.log